:root {
    --fg-color: rgba(255, 255, 255, 0.9);
    --bg-color: #2b2b2b;
    --highlight-primary: #008aff;
    --gradient:
            linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
            linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 70%),
            linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 74%);

    --nav-height: 3rem;

    --transition: 250ms ease-out;
    --transition-long: 500ms ease-out;
}

html {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    padding-top: var(--nav-height);
    min-height: 100vh;

    background: var(--bg-color);
    color: var(--fg-color);
}



main {
    display: grid;
    place-content: flex-start center;
    padding: 3rem;
}

.artwork {
    width: 40vmin;
    filter: grayscale(1) opacity(0.2);
}



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    font-size: 1.5rem;

    background: var(--bg-color);
    color: var(--fg-color);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);

    border-bottom: 1px solid var(--highlight-primary);

    z-index: 1;
}



.logo {
    display: grid;
    place-content: center;

    padding: 0rem 1rem;

    color: var(--highlight-primary);
}

.logo > i {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 0.25rem;

    background: var(--highlight-primary);
    color: var(--bg-color);
}




header ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    gap: 0.5rem;

    padding: 0rem 1.5rem;

    list-style-type: none;
}

header ul > li {
    display: grid;

    padding: 0.5rem;
}



header a {
    display: flex;
    align-items: center;

    padding: 0rem 1.5rem;
    border-radius: 0.25rem;

    color: var(--fg-color);
    background-color: rgba(0, 0, 0, 0.1);

    text-decoration: none;

    transition: background-color var(--transition);
}

header a > i {
    margin-right: 0.5rem;

    color: var(--highlight-primary);

    font-size: 1rem;

    transition: color var(--transition);
}

header a:hover {
    background-color: var(--highlight-primary);
}

header a:hover > i {
    color: var(--bg-color);

    transition: color var(--transition);
}





#nav-toggle-label {
    display: none;

    cursor: pointer;
}

#nav-toggle {
    display: none;
}





@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 24rem;
        right: 0rem;

        padding-top: var(--nav-height);
        clip-path: circle(
                calc(var(--nav-height) / 3)
                at
                calc(100% - var(--nav-height) / 2)
                calc(0% + var(--nav-height) / 2)
        );

        background: var(--gradient);
        box-shadow: -2px 2px 8px 0px rgb(0 0 0 / 80%);

        transition: clip-path var(--transition-long),
        background-color var(--transition-long);

    }

    header ul {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: max-content;
        gap: 0.5rem;

        padding: 0;
    }

    header a {
        place-content: flex-start;

        padding: 0.5rem 1.5rem;
    }

    header a > i {
        color: var(--bg-color);
    }

    header a:hover {
        background-color: var(--bg-color);
    }

    header a:hover > i {
        color: var(--highlight-primary);
    }




    #nav-toggle:checked + * + nav {
        clip-path: circle(150vmax at 100% 0%);

        background-color: var(--bg-color);
    }

    #nav-toggle-label {
        --size: calc(var(--nav-height) / 3);
        --bar-height: 2px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: auto;

        width: var(--size);
        height: var(--size);
        margin-right: calc(var(--nav-height) / 3);

        z-index: 2;
    }

    #nav-toggle-label .bar {
        display: inline-block;

        height: var(--bar-height);
        width: 100%;

        background-color: var(--bg-color);

        transition: transform 250ms ease-out;
    }

    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(1) {
        transform:
                translate(0, calc(var(--size) / 2 - var(--bar-height) / 2))
                rotate(225deg);
    }

    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(2) {
        transform: scaleX(0);
    }

    #nav-toggle:checked + #nav-toggle-label > .bar:nth-child(3) {
        transform:
                translate(0, calc(-1 * var(--size) / 2 + var(--bar-height) / 2))
                rotate(135deg);
    }
}
